* {
    margin:0;
    padding: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.navbar {
    position: fixed;
    top:0;
    width: 100%;
    height: 46px;
    background-color: #2d3844;
}
nav {
    position: relative;
    margin: 0 auto;
    width: 940px;
    height: 100%;
    display: flex;
}
.nav-logo {
    width: 46px;
    display: none;
}
nav a {
    flex:1 0 auto;
    box-sizing: border-box;
    width: 46px;
    height: 46px;
    padding:0 11px;
    text-align:center;
    vertical-align: middle;
    line-height: 46px;
    color: #929a9e;
    border-right: 1px solid rgba(73, 88, 103, 65);
}
nav a:nth-child(1) {
    border-left: 1px solid rgba(73, 88, 103, 65);
}

/* 导航栏搜索样式 */
.searchnav {
    margin: 9px 16px;
}
.search {
    position: relative;
   
}

.navsearchinput {
    box-sizing: border-box;
    height: 27px;
    width: 100%;
    background-color: #2d3844;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    outline: none;
    text-shadow: none;
    border: 1px solid #495867;
    color: #929a9e;
}
.navsearchborder {
    position: absolute;
    top:2.5px;
    right: 24px;
    border-right: 1px solid #929a9e;
    height: 20px;
}
.navsearchicon {
    position: absolute;
    top:1px;
    right: 6px;
    color:#929a9e;
    
}
.navsearchicon {
    width: 13px;
    height: 23px;
    color: #929a9e;
    cursor: pointer;
    background: 0 0;
    border:0;
    font: inherit;
    text-shadow: none;
    outline:none;
}
.iconsearch {
    width: 100%;
    height: 100%;
}
.navsignin {
    text-decoration: none;
    color: #87a3bf;
    cursor: pointer;
    margin: 0 15px;
    font-size: 10px;
    line-height: 46px;
    white-space:nowrap;
    
}
.sanjiao {
    overflow: hidden;
    margin: 11.5px 10px;
    width: 16px;
    height: 23px;
    color:#fff;
}
.sanjiao1 {
    width: 100%;
    height: 100%;
}
.navborder::before {
    display: block;
    content: " ";
    border-left: 1px solid #495867;
    width: 0;
    height: 20px;
    margin: 12.5px 0;
}
/* 中间文章部分 */
.container {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    margin-top:46px;
    padding: 10px 0 16px;
    background-color: #1b1f23;

}
.widthcontrol {
    padding: 0 20px;
    max-width: 940px;
    margin: 0 auto;
}
.logo {
    display: flex;
    /* 按间距排开 */
    justify-content: space-between;
    margin: 0 0 16px;
    align-items: flex-end;
    /* align-items: cent; */
}
.hltvlogo {
    width: 173px;
    height: 60px;
    background-image: url(hltv.png);
    /* 图片适应div尺寸 */
    background-size:contain; 
}
.middleadv a{
    display: block;
}
.middleadv a img {
    vertical-align: bottom;
}
.endadv a img {
    height: 60px;
    vertical-align: bottom;
}
/* .widthcontrol p {
    float: left;
} */

.leftcontrol {
    width: 145px;
}
.leftcontrol h1 {
    font-size: 10px;
    color:#fff;
}
.touxiang {
    width: 145px;
    height: 145px;
    margin-top: 10px;
}
.touxiang img {
    width: 100%;
}
.rating {
    width: 100%;
    text-align: center;
}
.rating a {
    color:#fff;
    font-size: 8px;
}
.rating p {
    text-align: center;
    font-size: 8px;
    color:#fff;
}
/* 旗帜通用类 */
.flag {
    width: 18px;
    height: 12px;
    box-sizing: border-box;
    border:1px solid #000;
}
.main1 {
    background: url(bg.jpg) no-repeat;
    background-size: 100% 100%;
    
}
.ranking {
    margin-top: 10px;
    
}
.ranking a {
    font-size: 10px;
    color:#fff;
}
.ranking_team {
    text-align:center;
    background-color: #455155;
}
.ranking_team li{
    display: flex;
    align-items: center;
    height: 33px;
}
.paiming {
    margin-left: 5px;
}
.ranking_team li img {
    width: 20px;
    margin: 0 10px;
}
.team {
    width: 100%;
    border-bottom: 1px solid skyblue;
}
.team:last-child{
    border-bottom: none;
}
/* 中间部分 */
.contentcontrol{
    
}